body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #666;
	font-size: 14px;
	line-height: 25px;
	width: 100%;
	background:url(../image/homebg.jpg) repeat-x 0 -329px;
}
body.common-home {background:url(../image/homebg.jpg) repeat-x 0 50px;}
h1, h2, h3, h4, h5, h6 {
	color: #444;
}
/* default font size */
.fa {
	
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
	font-family: 'Oswald', sans-serif;
	font-weight:700;
}
h2 {
	font-size: 27px;
	font-family: 'Oswald', sans-serif;
	font-weight:700;
}
h3 {
	font-size: 21px;
	font-family: 'Oswald', sans-serif;
	font-weight:700;
	
	text-transform: uppercase;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #23a1d1;
}
a:hover {
	text-decoration: none;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 12px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}

table.table thead td{background:#333; color:#fff}

/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
/* top */
#top {
	background-color: #000;
	border-bottom: 1px solid #111;
	padding: 4px 0px 3px 0;
	margin: 0 0 20px 0;
	min-height: 40px;
}
#top .container {
	padding: 0 20px;
}
#top #currency .currency-select {
	text-align: left;
}
#top #currency .currency-select:hover {
	text-shadow: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#top .btn-link, #top-links li, #top-links a {
	color: #888;
	
	text-decoration: none;
}
#top  .nav .open > a, #top  .nav .open > a:focus, #top  .nav .open > a:hover{background:none; color:#fff}
#top .btn-link:hover, #top-links a:hover {
	color: #444;
}
#top-links .dropdown-menu a {
	text-shadow: none;
}
#top-links .dropdown-menu a:hover {
	color: #FFF;
}
#top .btn-link strong {
	font-size: 14px;
        line-height: 14px;
}
#top-links {
	padding-top: 6px;
}
#top-links a + a {
	margin-left: 15px;
}
#top-links  i.fa{font-size:14px;}
/* logo */
#logo {
	margin: 0 0 10px 0;
}
/* search */
#search {
	margin-bottom: 10px;
}
#search .input-lg {
	height: 40px;
	line-height: 20px;
	padding: 0 10px;
	border-radius:0px;
}
#search .btn-lg {
	font-size: 15px;
	line-height: 18px;
	padding: 10px 35px;
	text-shadow: 0 1px 0 #FFF;
	border-color:#ccc;
}
#search i.fa{font-size:20px;}

#search .btn-lg {
	
	padding:9px 10px;
	}
/* cart */
#cart {
	
}
#cart > .btn {
	font-size: 12px;
	line-height: 18px;
	color: #FFF;
}
#cart.open > .btn {
	background-image: none;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart.open > .btn:hover {
	color: #444;
}
#cart .dropdown-menu {
	background: #eee;
	z-index: 1001;
}
#cart .dropdown-menu {
	min-width: 100%;
}
	@media (max-width: 478px) {
		#cart .dropdown-menu {
			width: 100%;
		}
	}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
	@media (max-width: 478px) {
		#cart .dropdown-menu li > div {
			min-width: 100%;
		}
	}
#cart .dropdown-menu li p {
	margin: 20px 0;
}
/* menu */
#menu {
	background-color: #111;
	background-image: none;
	background-repeat: repeat-x;
	border-color: #111;
	min-height: 40px;
	border-radius:0px;
}
#menu .nav > li > a {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	padding: 10px 15px 10px 15px;
	min-height: 15px;
	background-color: transparent;
	font-size: 14px;
	text-transform: uppercase;
	border-right:solid 1px #666;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
	background-color: #000;
}
#menu .dropdown-menu {
	padding-bottom: 0;
	padding:0px;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
	width:220px;
}
#menu .dropdown-inner a {
	min-width: 200px;
	display: block;
	padding: 5px 20px;
	clear: both;
	line-height: 25px;
	color: #333;
	font-size: 14px;
	background:#fff;
}
#menu .dropdown-inner li a:hover {
	color: #FFFFFF;
	background:#333;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #333;

	background-repeat: repeat-x;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 18px;
	text-transform:uppercase;
	font-weight: 700;
	line-height: 50px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
	font-size: 25px;
	font-stretch: expanded;
	color: #FFF;
	padding: 0px 11px;
	float: right;
	background-color: #333;
	
	background-repeat: repeat-x;
	
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #333;
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	#menu {
		border-radius: 4px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #333;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}
/* content */
#content {
	min-height: 600px;
}
/* footer */
footer {
	margin-top: 30px;
	padding-top: 30px;
	background-color: #303030;
	border-top: 1px solid #ddd;
	color: #e2e2e2;
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}
footer a {
	color: #ccc;
}
footer a:hover {
	color: #fff;
}
footer h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-transform:uppercase;
	color: #fff;
	min-height:55px;
}
/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}
/* breadcrumb */
.breadcrumb {
	margin: 0 0 20px 0;
	padding: 0px 0;
	border: 0px solid #ddd;
	background:none;
}
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb > li {
	text-shadow: 0 1px 0 #FFF;
	padding: 0 20px;
	position: relative;
	white-space: nowrap;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.breadcrumb > li:after {
	content: '';
	display: block;
	position: absolute;
	top: 5px;
	right: -5px;
	width: 15px;
	height: 15px;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.pagination {
	margin: 0;
}
/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 8px 12px;
	font-size: 14px;
	text-transform:uppercase;
	border: 1px solid #333;
	border-radius: 0px;
	
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #333;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #e7e7e7;
	background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
	background-repeat: repeat-x;
	border-color: #333;
}
.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #333;
	
	border-color: #333;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #1f90bb;
	background-position: 0 -15px;
}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}
/* list group */
.list-group a {
	border: 1px solid #DDDDDD;
	color: #888888;
	padding: 8px 12px;
	text-transform:uppercase;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #fff;
	background: #333;
	border: 1px solid #DDDDDD;
	
	
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* Short */
.sortrow{border-bottom:solid 1px #ccc; border-top:solid 1px #ccc; padding:5px 0; clear:both; display:block}

/* Refine */
.refine h3{font-family:"Open Sans",arial,serif; font-size:14px; text-transform:uppercase; font-weight:normal; float:left; margin:6px 10px 0 0;}
.refine  ul{list-style:none; margin:0px; padding:0px; float:left}
.refine  ul li{float:left; list-style:none; margin:0px; padding:0px 10px 0 0;}
/* product list */
/* GRID */
.product-layout{padding-top:20px; min-height:420px; text-align:center}
.product-layout p.desc{display:none;}

.product-layout .product-thumb .caption {text-align:center; width:100%}
.product-layout.product-grid .product-thumb .image {
	text-align: center;
	width:100%;
}
.product-layout.product-grid .col-sm-8,.product-layout.product-grid .col-sm-3, .product-layout.product-grid .product-thumb .button-group{width:100%;}


.product-layout:hover{box-shadow:0 0px 1px #ccc inset}
.product-thumb {
	border: 0px solid #ddd;
	margin-bottom: 20px;
	overflow: auto;
}
.product-layout.product-grid .product-thumb {text-align:center}

.product-thumb .image a {
	display: block;
}
.product-thumb .image a:hover {
	opacity: 1;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}
.product-grid .product-thumb .image {
	float: none;
}
/* PRODUCT LIST */
.product-layout.product-list{min-height:150px; border-bottom:solid 1px #ccc}
.product-layout.product-list  p.desc{display:block;}
.product-layout.product-list  {padding-top:20px;}
@media (min-width: 767px) {
.product-list .product-thumb .image {
	
	
}
}
.product-thumb h4 {
	font-weight: bold;
	
}
.product-layout.product-list .product-thumb .caption {
	padding: 0 20px;
	text-align:left;
	
}
.product-list .product-thumb .caption {
	
}
@media (max-width: 1200px) {
.product-grid .product-thumb .caption {
	min-height: 210px;
	padding: 0 10px;
}
}
@media (max-width: 767px) {
.product-list .product-thumb .caption {
	min-height: 0;
	margin-left: 0;
	padding: 0 10px;
}
.product-grid .product-thumb .caption {
	min-height: 0;
}
}
.product-thumb .rating {
	padding-bottom: 10px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}
.product-thumb .price {
	color: #444;
}
.product-thumb .price-new {
	font-weight: 600;
}
.product-thumb .price-old {
	color: #ff0000;
	text-decoration: line-through;
	margin-left: 10px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}
.product-thumb .button-group {
	
	overflow: auto;
	text-align: center;
	
}


.product-list .product-thumb .button-group {
	border-left: 0px solid #ddd;
	text-align:left;
}
.product-list .product-thumb .button-group button{margin:0px;}
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}
.product-thumb .button-group button{
	
	border: none;
	display: inline-block;
	
	background: none;
	color: #888;
	line-height: 38px;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	margin:0 auto
}
.product-thumb .button-group button:hover{background:none;}
.product-thumb .button-group  button:first-child {display:block}
.product-thumb .button-group button +button{}
.product-layout.product-list .product-thumb .button-group button{display:block}
.product-thumb .button-group button:first-child{
	padding:3px 15px;
	line-height:25px;
	font-size:11px;
	color:#333;
	border:solid 1px #333;
}
.product-layout.product-thumb .button-group button + button {
	width: 40px;
	border-left: 0px solid #ddd; 
	
}
.product-layout.product-list{display:inline-block}
.product-layout.product-list .product-thumb .button-group button + button {display:inline-block}
.product-thumb .button-group button:nth-child(2){clear:both;}

.product-thumb .button-group button:hover {
	color: #444;
	background-color: #ccc;
	text-decoration: none;
	cursor: pointer;
}
.product-layout.product-list .product-thumb .button-group button + button:hover{background-color: #fff;}
@media (max-width: 1200px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
	
}

@media (max-width: 767px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
	
}
.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }
    #column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }
    #column-left + #content + #column-right .product-layout .col-md-3{
       width: 100%;
    }
    #content + #column-right .product-layout .col-md-3{
       width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout,
#column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

header #cart .btn-inverse {
    color: #333;
    text-shadow:none;
    background:none;
	background-color: none;
    background-image: none;
    background-repeat: none;
    border: none;
	box-shadow:none;
}
header #cart  .btn-inverse i{background:url(../image/cart.png) no-repeat; display:block; float:left; width:35px; height:30px;}
header #cart .btn-inverse i:before{content:'';}
header #cart  .btn-inverse span{padding-top:0px; float:left; padding-left:10px; line-height:28px;}

#cart > .btn {
    line-height: 18px;
    color: #FFF;
    font-size: 18px;
}

.btn-default {background:none;}

.owl-wrapper-outer {
	box-shadow: none;
}
#slideshow0{background:none}
#carousel0 .owl-wrapper-outer {
    border: none;
    border-radius: none;
    box-shadow: none;
}

/* Extra Small Devices, .visible-xs-* */
@media (max-width: 767px) {
.product-layout .product-thumb .button-group button {width:auto}
.product-layout .product-thumb .button-group button + button {display:inline-block}
.sortrow .text-right{text-align:left}
.sortrow .col-md-3{padding:10px 15px}
body {
	
	background:url(../image/homebg.jpg) repeat-x 0 -316px;
}
body.common-home {background:url(../image/homebg.jpg) repeat-x 0 -80px;}
}

/* Small Devices, .visible-sm-* */
@media (min-width: 768px) and (max-width: 991px) {
body.common-home {background:url(../image/homebg.jpg) repeat-x 0 -80px;}
.product-layout .product-thumb .button-group button {width:auto}
.product-layout .product-thumb .button-group button + button {display:inline-block}
}

/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
.product-layout .product-thumb .button-group button {width:auto}
.product-layout:hover .product-thumb .button-group button + button {display:inline-block}
}

/* Large Devices, .visible-lg-* */
@media (min-width: 1200px) {
.product-layout .product-thumb .button-group button + button{display:none;}
.product-layout:hover .product-thumb .button-group button + button {display:inline-block}
}